<ul>
    {% load static %}
    <li><a href="{% url 'artmonitors:index' %}">Home</a></li>
    <li><a href="{% url 'artmonitors:view_archive' %}">Archive</a></li>
    <li><a href="{% url 'artmonitors:view_all_collections' %}">Collections</a></li>
    <li><a href="{% url 'artmonitors:group' %}">Slideshow</a></li>
    <li><a href="{% url 'artmonitors:view_about' %}">About</a></li>
    <li><a href="{% url 'artmonitors:view_contact' %}">Contact Us</a></li>
    <li>
        <a href="https://www.instagram.com/artmonitors/">
            <img class="ig" src="{% static 'artmonitors/Instagram_Glyph_Gradient_RGB.svg' %}"></a>
        <a href="https://www.instagram.com/artmonitors/">@artmonitors</a>
    </li>
</ul>