<!DOCTYPE html>
<html lang=en">
<head>
	<title>MOMA Slideshow</title>
    {% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'artmonitors/favicon.ico' %}"/>
	<link href="{% static 'artmonitors/slideshow_stylesheet.css' %}" rel="stylesheet" type="text/css" >
    <script type="text/javascript">
        var group_name = "{{ group_name }}"
        var local_storage = window.localStorage;
        var saved_groups = JSON.parse(local_storage.getItem("saved_groups"));
        var django_inputs = []
        for(var entry in saved_groups) {
            if(saved_groups[entry][0].replace(/[\s'"']/g, "_") == group_name) {
                django_inputs = saved_groups[entry][1];
                break;
            }
        }
    </script>
    <script src="{% static 'artmonitors/slideshow_code.js' %}"></script>
</head>
<body onload="initSlideshow();">
    <div class="container">
        <div id="slideDiv">
            <div class="slideContainer">
                <div id="slide1" class="slide"></div>
                <div id="slide2" class="slide"></div>
                <div id="slide3" class="slide"></div>
            </div>
        </div>
        <footer id="workName">[Modern Art Slideshow will start momentarily]</footer>
		<button id="fullscreenButton" type="button" onclick="goFullscreen();">Go Fullscreen</button>
    </div>
</body>
</html>