<!DOCTYPE html>
<html lang=en">
<head>
	<title>MOMA Slideshow</title>
    {% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'artmonitors/favicon.ico' %}"/>
	<link href="{% static 'artmonitors/slideshow_stylesheet.css' %}" rel="stylesheet" type="text/css" >
    <script type="text/javascript">
    	console.log("{{ work_list }}")
        var django_raw = "{{ work_list }}".replace(/&#39;/g, "'").replace(/&quot;/g,"\"");
        console.log("\n\n\n")
        console.log(django_raw)
        var django_inputs = JSON.parse(django_raw)
    </script>
    <script src="{% static 'artmonitors/slideshow_code.js' %}"></script>
</head>
<body onload="initSlideshow();">
    <div class="container">
        <div id="slideDiv">
            <div class="slideContainer">
                <div id="slide1" class="slide"></div>
                <div id="slide2" class="slide"></div>
                <div id="slide3" class="slide"></div>
            </div>
        </div>
        <footer id="workName"><a id="workLink">[Modern Art Slideshow will start momentarily]</a></footer>
		<button id="fullscreenButton" type="button" onclick="goFullscreen();">Go Fullscreen</button>
    </div>
</body>
</html>